<!DOCTYPE html>
<html lang="en">
    <head>
        <% include app/head %>
    </head>
    <body>
        <% include app/nav %>

        <div class="container">
            <h1>Push ton code</h1>
        </div>

        <% include app/script %>
    </body>
</html>
