<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Microloan</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
         <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/loans">Loans</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/credits">Credits</a>
            </li>

            <% if (locals.user) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/user"><%= locals.user.username %></a>
              </li>

              <!-- TODO disconnect -->
            <% } else { %>
              <li class="nav-item">
                  <a class="nav-link" href="/users/create">Register</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/auth/create">Login</a>
              </li>
            <% } %>
         </ul>
    </div>
</nav>
