<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Microloan</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/investments">Investments</a>
            </li>
         </ul>

         <ul class="navbar-nav">
             <% if (locals.user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/projects/list">My projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/loans">My investments</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log out</a>
                </li>
             <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/create">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/create">Login</a>
                </li>
             <% } %>
        </ul>
    </div>
</nav>
