<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../app/head %>
    </head>

    <body>
        <% include ../app/nav %>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <form method="POST" action="/api/project/create">
                        <fieldset>
                            <legend>Create new project</legend>

                            <div class="form-group">
                                <label for="demand">Amount needed</label>
                                <input type="number" class="form-control" id="demand" name="demand" placeholder="Enter the amount">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
                            </div>

														<div class="form-group">
                                <label for="image">Image</label>
                                <input type="text" class="form-control" id="image" name="image" placeholder="Enter image URL">
                            </div>

														<div class="form-group">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" name="url" placeholder="Enter image URL">
                            </div>

														<input class="hidden" name="user_id" value="<%= user.id %>">

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

        <% include ../app/script %>
    </body>
</html>
