<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../app/head %>
    </head>

    <body>
        <% include ../app/nav %>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h1>
                        My projects
                        <a href="/projects/create" class="btn btn-primary float-right">Create a project</a>
                    </h1>

                    <% if(projects.length == 0) {%>
                        <div class="alert alert-secondary" role="alert">
                            No data to display.
                        </div>
                    <% } %>
                    <% if(projects.length != 0) {%>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < projects.length; i++) {%>
                                <tr>
                                    <% if(projects[i].risk == 1) {%>
                                    <td><span class="badge badge-success">Low risk</span></td>
                                <% } %>
                                <% if(projects[i].risk == 2) {%>
                                    <td><span class="badge badge-warning">Medium risk</span></td>
                                <% } %>
                                <% if(projects[i].risk == 3) {%>
                                    <td><span class="badge badge-danger">High risk</span></td>
                                <% } %>
                                    <td><%= projects[i].title %></td>
                                    <td><%= projects[i].demand %>€</td>
                                    <td>
                                        <button type="button" name="button" class="btn btn-info">Edit</button>
                                        <button type="button" name="button" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
                </div>
            </div>
        </div>

        <% include ../app/script %>
    </body>
</html>
