<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../app/head %>
    </head>

    <body>
        <% include ../app/nav %>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h1>
                        Loans
                        <a href="/loans/create" class="btn btn-primary float-right">Add loan</a>
                    </h1>

                    <% if(proposals.length == 0) {%>
                        <p> Message </p>
                    <% } %>
                    <% if(proposals.length != 0) {%>
                        <td><%= proposals.amount %></td>
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Interest rate</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Created at</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < proposals.length; i++) {%>
                            <tr>
                                <td><span class="badge badge-success">Accepted</span></td>
                                <td><%= proposals[i].amount %>€</td>
                                <td><%= proposals[i].interest %>%</td>
                                <td><%= proposals[i].finalDate%></td>
                                <td>20/10/2010</td>
                                <td>
                                    <button type="button" name="button" class="btn btn-info">Edit</button>
                                    <button type="button" name="button" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                        </table>
                    <% } %>
                </div>
            </div>
        </div>

        <% include ../app/script %>
    </body>
</html>
