<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../app/head %>
    </head>

    <body>
        <% include ../app/nav %>

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h1>
                        Credits
                    </h1>
                    <% if(credits.length == 0) {%>
                        <p> Message </p>
                    <% } %>
                    <% if(credits.length != 0) {%>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Amount</th>
                                <th scope="col">Interest rate</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Created at</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for(var i=0; i < credits.length; i++) {%>
                            <tr>
                                <td><%= credits[i].amount %>€</td>
                                <td><%= credits[i].interest_rate %>%</td>
                                <td><%= credits[i].date_end %></td>
                                <td><%= credits[i].date_start %></td>
                                <td></td>
                            </tr>
                        </tbody>
                            <% } %>
                    </table>
                    <% } %>
                </div>
            </div>
        </div>

        <% include ../app/script %>
    </body>
</html>
